.trendmain {
  background-color: #ead9ce;
  position: relative;
}
.trendsemimain {
  display: flex;
  padding: 0;
}
.trendleftmain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  padding-right: 43px;
}
.trendleftwrap {
  display: flex;
  flex-direction: column;
  max-width: 557px;
}

.trendhead {
  font-size: 30px;
  font-weight: 400;
  line-height: 47px;
  font-family: "Bastiken";
}

.trendsubtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 41px;
  margin-bottom: 86px;
  font-family: "Martel";
}
.trendbutton {
  background-color: #b07b54;
  color: white;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  border-radius: 0px 30px 30px 0px;
  border: none;
  padding: 9px 74px;
  font-family: "Martel";
}
.trendbutton:hover {
  background-color: #8f5e3c; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  transform: scale(1.05); 
}
.trendingimage:hover {
  transform: scale(0.95);
  transition: transform 0.4s ease-in-out; 
}
.trendimgwrap {
  width: 800px;
  height: 644px;
}
.trendingimage {
  width: 55.5%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}

@media (max-width: 1399.98px) and (min-width: 1200px) {
  .hometextwrapper {
    max-width: 793px;
  }
  .homeimg {
    width: 50%;
  }
}

@media (max-width: 991.98px) and (min-width: 768px) {
  .trendimgwrap {
    display: none;
  }
  .trendsubtitle {
    margin-top: 41px;
    margin-bottom: 86px;
  }
  .trendmain {
    padding: 20px;
  }
  .trendleftmain {
    padding-right: 0px;
  }
}

@media (max-width: 767.98px) and (min-width: 576px) {
  .trendimgwrap {
    display: none;
  }
  .trendsubtitle {
    margin-top: 41px;
    margin-bottom: 86px;
  }
  .trendmain {
    padding: 20px;
  }
  .trendleftmain {
    padding-right: 0px;
  }
}

@media (max-width: 575.98px) {
  .trendimgwrap {
    display: none;
  }
  .trendsubtitle {
    margin-top: 31px;
    margin-bottom: 66px;
  }
  .trendmain {
    padding: 20px;
  }
  .trendleftmain {
    padding-right: 0px;
  }
}
